$color-white:#fff;
$color-midWhite:#e5e3e3;
$color-black:#000;
$color-lightRed:#A51C30;
$color-midRead:#8b3333;
$color-blackRed:#700005;
$color-oraganRed:#CD2626;
$color-reallyRed:#8c0000;
$color-title:#333;
$color-text-hover:#be0f34;
$color-font-date:#7a736e;
$color-footer-hover:#FF6A6A;